<div class="col-md-12">
<div class="welcome_index">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">记录美好生活</h1>
        <p class="slogan">
          <br>
          生活就像一面镜子，你笑他笑，你哭他哭。
          <br>
          幸福，从没捷径，也没有完美无瑕，只有经营，只靠真心。
        </p>
        <p class="lead">
          <%= link_to '开始美好生活', pins_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">生活便是寻求新的知识。</h2>
        <p class="lead">生命里，总有一些遗忘，从不忘却记忆，忘却的只是时光荏苒中的色彩缤纷。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'h4.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">生活便是寻求新的知识。</h2>
        <p class="lead">生命里，总有一些遗忘，从不忘却记忆，忘却的只是时光荏苒中的色彩缤纷。</p>
      </div>
      <div class="ol-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'h1.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
